body {
  background-color: linen;
  margin: 10px;
  font-family: Arial, Garamond, sans-serif;
}
header{
	border: 2px solid #808080;
	text-align: center;
	text-transform: capitalize;
}

header form{
	text-align: right;
}

#content_list{
	list-style-type: square;
	text-decoration: none;
}

#content_list li a{
	color: blue;
	text-decoration: none;
}

a{
	color: blue;
}

table{
	border: 2px solid black;
}

table td{
	border-top: 2px solid black;
	padding: 10px;
}

#calgary_img{
	width: 250px;
	height: 200px;
	transition: width 2s, height 2s, transform 2s;
	padding-left: 40px;
	padding-top: 40px;

}

#calgary_img:hover {
  width: 700px;
  height: 300px;
  transform: rotate(360deg);
}

footer{
	border-top: 2px dotted #808080;
}

footer video{
	margin: 15px 0 0 10px;
	transition: width 2s, height 2s, transform 2s;
}

footer video:hover{
	width: 350px;
}