body {
  background-color: linen;
}

#content_list li a{
	color: blue;
}

a{
	color: blue;
}

.flex_col{
	box-shadow: 4px 6px 3px grey;
	margin: 2px;
	padding: 5px;
	background-color: #f2e8da;
}

#geography{
	border-right: none;
}

@media only screen and (max-width: 900px){
	#flex_section{
		flex-wrap: wrap;
	}
	.flex_col{
		box-shadow: none;
	}
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  margin-bottom: 5px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before{
  transform: translateX(30px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}